# Exclude everything
*

# Except
!CMakeLists.txt

!.gitignore
!.gitmodules

!assets/
!libs/
!platform-independent-tests/
!special-setup-tests/
!unit-tests/

!assets/**
!libs/**
!platform-independent-tests/**
!special-setup-tests/**
!unit-tests/**